{
    "id":"116",
    "title":"Education",
    "icon":"/img/app_education.png",
    "parent":{
        "id":null,
        "title":"Digital Hub"
    },
    "links":[
        {
        "nid":"120",
        "title":"NEC Courses",
        "thumbnail":"/img/NEC-logo.png",
        "url":"\/education\/National%20Extension%20College",
        "parent":[
            {
            "target_id":"116"
            }
        ]
        },
        {
        "nid":"2501",
        "title":"Way2Learn",
        "thumbnail":"/img/Way2Learn-logo.png",
        "url":"\/video\/channel\/191",
        "parent":[
            {
            "target_id":"116"
            }
        ]
        },
        {
        "nid":"1051",
        "title":"Shannon Trust",
        "thumbnail":"/img/Shannon-Trust-logo.png",
        "url":"\/education\/Shannon%20Trust",
        "parent":[
            {
            "target_id":"116"
            }
        ]
        }
    ]
}
