{
    "id":null,
    "title":"Digital Hub",
    "icon":null,
    "links":[
        {
        "nid":"education",
        "title":"Education",
        "thumbnail":"app_education.png",
        "url":null,
        "parent":null
        },
        {
        "nid":"video",
        "title":"Video",
        "thumbnail":"app_video.png",
        "url":"\/video",
        "parent":null
        },
        {
        "nid":"radio",
        "title":"Radio",
        "thumbnail":"app_audio.png",
        "url":"\/radio",
        "parent":null
        },
        {
        "nid":"books",
        "title":"Books",
        "thumbnail":"app_books.png",
        "url":null,
        "parent":null
        }
    ]
}
