[
#foreach( $item in $data.items )
{
"title":"$item.metadata.title",
"nid":"",
"description":null,
"duration":"$item.metadata.radioLength",
"date":"$item.timestamp",
"radio_show_url":"$item.files.main",
"thumbnail":"",
"added_today":false
}
    #if( $velocityHasNext ), #end
#end
]