{
    "channel_data":{
    "channel_name":"Videos",
    "channel_landing_page":"0",
    "channel_id":""
},
"video_data":{
        "title":"$data.item.metadata.title",
        "nid":"",
        "description":"<p>$data.item.metadata.description</p>",
        "duration":"$data.item.metadata.videoLength",
        "video_url":"$data.item.files.main",
        "categories":{
            "tid":"",
            "name":"$data.item.metadata.category",
            "description":""
        },
        "tags":[
        ],
        "channel_name":"$data.item.metadata.provider",
        "thumbnail":"$data.item.files.thumbnail"
    }
}
